In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Food and Agric.csv', encoding = 'latin-1')

In [3]:
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60943 entries, 0 to 60942
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Area Code     60943 non-null  int64
 1   Area          60943 non-null  object
 2   Item Code     60943 non-null  int64
 3   Item          60943 non-null  object
 4   Element Code  60943 non-null  int64
 5   Element       60943 non-null  object
 6   Unit          60943 non-null  object
 7   Y2014         59354 non-null  float64
 8   Y2015         59395 non-null  float64
 9   Y2016         59408 non-null  float64
 10  Y2017         59437 non-null  float64
 11  Y2018         59507 non-null  float64
dtypes: float64(5), int64(3), object(4)
memory usage: 5.6+ MB

In [5]:
df.isnull().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

In [29]:
correlation_by_year = df.groupby(['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']).corr()['Element Code']

In [31]:
least_correlated_year = correlation_by_year.idxmin()
least_correlated_year

(19.0, 19.0, 19.0, 19.0, 20.0, 'Area Code')

In [35]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Area Code,60943.0,134.265576,72.605709,4.0,74.0,136.00,195.00,276.0
Item Code,60943.0,2687.176706,146.055739,2501.0,2562.0,2630.00,2775.00,2961.0
Element Code,60943.0,3814.856456,2212.007033,511.0,684.0,5142.00,5511.00,5911.0
Y2014,59354.0,134.196282,1567.663696,-1796.0,0.0,0.09,8.34,176405.0
Y2015,59395.0,135.235966,1603.403984,-3161.0,0.0,0.08,8.46,181137.0
Y2016,59408.0,136.555222,1640.007194,-3225.0,0.0,0.08,8.43,185960.0
Y2017,59437.0,140.917765,1671.862359,-1582.0,0.0,0.10,9.00,190873.0
Y2018,59507.0,143.758381,1710.782658,-3396.0,0.0,0.07,9.00,195875.0

In [22]:
madagascar_2015 = df[(df['Area'] == 'Madagascar') & (df['Y2015'])]

In [26]:
total_protein_supply = madagascar_2015.loc[madagascar_2015['Element'] == 'Protein supply quantity (g/capita/day)'].sum()
total_protein_supply

Area Code                                                    8901
Area            MadagascarMadagascarMadagascarMadagascarMadaga...
Item Code                                                  189330
Item            Grand TotalVegetal ProductsAnimal ProductsCere...
Element Code                                                46506
Element         Protein supply quantity (g/capita/day)Protein ...
Unit            g/capita/dayg/capita/dayg/capita/dayg/capita/d...
Y2014                                                      177.77
Y2015                                                      173.05
Y2016                                                      173.37
Y2017                                                      175.72
Y2018                                                       176.6
dtype: object

In [62]:
my_tuppy = (1,2,5,8)

my_tuppy[2] = 6

TypeError: 'tuple' object does not support item assignment

In [8]:
df_2017 = df['Y2017']

In [18]:
result = df.groupby('Element')['Y2017'].sum()
result

Element
Domestic supply quantity                  2088198.10
Export Quantity                            182338.80
Fat supply quantity (g/capita/day)          10253.84
Feed                                       223705.68
Food                                      1258888.28
Food supply (kcal/capita/day)              454681.00
Food supply quantity (kg/capita/yr)         48690.04
Import Quantity                            294559.09
Losses                                     160614.00
Other uses (non-food)                       91645.97
Processing                                 292836.00
Production                                2030056.89
Protein supply quantity (g/capita/day)      11842.45
Residuals                                   35500.00
Seed                                        24870.14
Stock Variation                             54316.91
Total Population - Both sexes             1112641.00
Tourist consumption                            91.00
Name: Y2017, dtype: float64

In [40]:
result = df.groupby('Area')['Y2017'].sum().sort_values()
result

Area
Sudan (former)                       0.00
Ethiopia PDR                         0.00
Comoros                             59.84
Seychelles                         442.34
Sao Tome and Principe            12662.63
Cabo Verde                       14650.74
Guinea-Bissau                    19102.77
Lesotho                          21267.96
Botswana                         22101.30
Djibouti                         22729.91
Gambia                           23154.18
Gabon                            27979.64
Liberia                          29342.20
Namibia                          29874.89
Central African Republic         29937.00
Congo                            41181.68
Togo                             49841.88
Mauritius                        51114.83
Eswatini                         54343.33
Sierra Leone                     55311.33
Chad                             71594.68
Rwanda                           73663.69
Zimbabwe                         75919.34
Senegal                          95681.15
Guinea                           98138.87
Burkina Faso                    101855.07
Zambia                          103223.77
Tunisia                         124167.20
Benin                           124771.22
Niger                           126707.58
Madagascar                      131197.73
Mali                            149928.33
Mauritania                      156665.46
Mozambique                      161407.98
Malawi                          181098.71
Uganda                          213950.38
Côte d'Ivoire                   224599.01
Angola                          229159.57
Cameroon                        232030.43
Sudan                           239931.92
Kenya                           264660.66
United Republic of Tanzania     322616.85
Algeria                         325644.27
Ghana                           337599.06
Morocco                         388495.36
Ethiopia                        448683.76
South Africa                    517590.54
Egypt                           866379.92
Nigeria                        1483268.23
Name: Y2017, dtype: float64

In [45]:
wine = df[['Y2015', 'Y2018']]
result = wine.groupby(['Y2015', 'Y2018']).sum()
result

Empty DataFrame
Columns: []
Index: [(-3161.0, -296.0), (-2152.0, -597.0), (-1284.0, 1898.0), (-907.0, -529.0), (-887.0, 163.0), (-880.0, -520.0), (-827.0, -567.0), (-709.0, 1143.0), (-637.0, 68.0), (-636.0, -682.0), (-574.0, -549.0), (-568.0, 900.0), (-559.0, -598.0), (-549.0, 0.0), (-517.0, -373.0), (-504.0, -374.0), (-453.0, 156.0), (-369.0, -273.0), (-355.0, 1372.0), (-317.0, 0.0), (-316.0, -37.0), (-315.0, -162.0), (-310.0, -192.0), (-305.0, -336.0), (-294.0, 0.0), (-282.0, -316.0), (-271.0, -57.0), (-257.0, -226.0), (-250.0, -169.0), (-250.0, -167.0), (-250.0, -38.0), (-245.0, 55.0), (-241.0, 0.0), (-238.0, 77.0), (-218.0, 0.0), (-208.0, -237.0), (-208.0, -151.0), (-199.0, -280.0), (-190.0, 99.0), (-186.0, 221.0), (-184.0, 40.0), (-182.0, 99.0), (-181.0, 270.0), (-179.0, -169.0), (-179.0, -158.0), (-179.0, 57.0), (-176.0, -170.0), (-173.0, -160.0), (-173.0, -130.0), (-171.0, -237.0), (-169.0, -161.0), (-166.0, -234.0), (-161.0, -242.0), (-160.0, 287.0), (-159.0, -256.0), (-156.0, -222.0), (-154.0, -60.0), (-131.0, -7.0), (-130.0, 216.0), (-129.0, 0.0), (-129.0, 415.0), (-128.0, 545.0), (-124.0, -129.0), (-122.0, -148.0), (-122.0, 21.0), (-121.0, 145.0), (-120.0, -13.0), (-118.0, -143.0), (-118.0, 5.0), (-117.0, 0.0), (-115.0, -64.0), (-114.0, 76.0), (-112.0, -9.0), (-111.0, 249.0), (-102.0, 0.0), (-101.0, 74.0), (-99.0, -46.0), (-97.0, 3.0), (-96.0, -7.0), (-93.0, -12.0), (-91.0, 0.0), (-90.0, 60.0), (-90.0, 344.0), (-87.0, -341.0), (-87.0, -35.0), (-85.0, -46.0), (-83.0, 0.0), (-82.0, 0.0), (-76.0, -913.0), (-74.0, -33.0), (-74.0, 156.0), (-73.0, 0.0), (-71.0, 7.0), (-70.0, -102.0), (-70.0, 20.0), (-70.0, 30.0), (-69.0, 0.0), (-69.0, 21.0), (-67.0, -155.0), (-65.0, 0.0), ...]

[14814 rows x 0 columns]

In [47]:
wine = df.groupby('Item')[['Y2015', 'Y2018']].sum()
wine

                         Y2015      Y2018
Item
Alcohol, Non-Food      2180.00    2293.00
Alcoholic Beverages   98783.72   97847.27
Animal Products       11811.73   11578.61
Animal fats          200675.72  269648.27
Apples and products   10559.15    9640.51
...                        ...        ...
Vegetables, Other    158104.08  163987.21
Vegetal Products     107064.17  107775.39
Wheat and products   234710.51  242645.19
Wine                   4251.81    4039.32
Yams                 203151.78  221272.09

[119 rows x 2 columns]

In [49]:
Given the following python code, what would the output of the code give?

my_tuppy = (1,2,5,8)

my_tuppy[2] = 6

Object `give` not found.

TypeError: 'tuple' object does not support item assignment

In [54]:
wine = df.groupby('Area')['Y2017'].sum().sort_values()
wine

Area
Sudan (former)                       0.00
Ethiopia PDR                         0.00
Comoros                             59.84
Seychelles                         442.34
Sao Tome and Principe            12662.63
Cabo Verde                       14650.74
Guinea-Bissau                    19102.77
Lesotho                          21267.96
Botswana                         22101.30
Djibouti                         22729.91
Gambia                           23154.18
Gabon                            27979.64
Liberia                          29342.20
Namibia                          29874.89
Central African Republic         29937.00
Congo                            41181.68
Togo                             49841.88
Mauritius                        51114.83
Eswatini                         54343.33
Sierra Leone                     55311.33
Chad                             71594.68
Rwanda                           73663.69
Zimbabwe                         75919.34
Senegal                          95681.15
Guinea                           98138.87
Burkina Faso                    101855.07
Zambia                          103223.77
Tunisia                         124167.20
Benin                           124771.22
Niger                           126707.58
Madagascar                      131197.73
Mali                            149928.33
Mauritania                      156665.46
Mozambique                      161407.98
Malawi                          181098.71
Uganda                          213950.38
Côte d'Ivoire                   224599.01
Angola                          229159.57
Cameroon                        232030.43
Sudan                           239931.92
Kenya                           264660.66
United Republic of Tanzania     322616.85
Algeria                         325644.27
Ghana                           337599.06
Morocco                         388495.36
Ethiopia                        448683.76
South Africa                    517590.54
Egypt                           866379.92
Nigeria                        1483268.23
Name: Y2017, dtype: float64

In [63]:
S = [['him', 'sell'], [90, 28, 43]]

S[0][1][1]

'e'

In [61]:
df['Area'].count()

60943